@import 'normalize';



.wrapper {
	width: 750px;
	margin: auto;
	margin-top: 30px;
	border: 1px solid #F0f0f0;
	// background-color: #F1f1f1;
}

.containers {

	margin: 15px;
	border-radius: 10px;
	border: 2px solid #D7D7D7;
	background-color: #F0f0f0;

}


.avatar {
	width: 90px;
	border-radius: 15px;
	padding: 10px;
}


span {		
	font-size: 45px;
	line-height: 118px;
	vertical-align: top;
	color: #A9A9A9;
	
}







